.father-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Card Aboutme*/
.Card-container {
    perspective: 1000px;
}

.Card {
    background-image: url("/img/Backgroundcolors.png");
    background-size: cover;
    width: 400px;
    height: 214px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.Card-container.flipped .Card {
    transform: rotateY(180deg);
}

.Card .back {
    display: none;
}

.Card-container.flipped .Card .front {
    display: none;
}

.Card-container.flipped .Card .back {
    display: block;
    transform: rotateY(180deg);
}

.Card {
    margin: 4%;
    padding: 5%;
}

.Card-title {
    text-align: center;
    padding: 15%;
}

.Card h5 {
    color: white;
}

.Card p {
    color: white;
    text-align: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 260px) and (max-width: 500px) {
    .Card {
        width: 255px;
        height: 330px;
        margin: 10px;
    }

    .Card p {
        text-align: center;
        margin-top: auto;
    }

    .Card h5 {
        background-color: #a52a2ab8;
        border-radius: 8px;
    }
}