@import url(https://fonts.googleapis.com/css?family=Varela+Round);


main div ul li {
    display: inline-block;

}

main div ul li img {
    filter: drop-shadow(-9px 1px 2px #0000008a);
    width: 150px;
    margin-left: 10px;
    aspect-ratio: 1/1;
}



.title-shadow {
    margin-bottom: 13px;
    margin-top: 13px;
    text-align: center;
    color: transparent;
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
    -moz-text-stroke-color: #000000;
    -webkit-text-stroke-color: #ffffff;
    text-shadow: 7px 5px #ffa0fd80;
    letter-spacing: 9px;
}

.lista-logos{
    display: flex;
    justify-content: center;
}
    
    @media(min-width: 260px) and (max-width: 500px) {
        .lista-logos {
            margin: 10px auto;
        }
    } 